{% block sw_cms_element_flow_preview %}
    <div class="sw-cms-el-preview-flow">
        <img :src="'/dutchdropsflowbox6/administration/static/img/cms/preview_flowbox.png' | asset">
    </div>
{% endblock %}
