{% block sw_cms_block_flowbox_preview %}
    <div class="sw-cms-preview-flowbox">
         <img :src="'/dutchdropsflowbox6/administration/static/img/cms/preview_flowbox_small.png' | asset">
    </div>
{% endblock %}
